body {
    margin: auto;
    max-width: auto;
}
.header {
    padding: 5px 15px;
    background-color: #ff9922;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: static;
}

.left-header {
    gap: 16px;
    display: flex;
    align-items: center;
}

.right-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    font-size: 24px;
}

img {
    height: 60px;
    width: auto;
}