body {
    margin: auto;
    max-width: auto;
}

.top-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/kame-house.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header {
    padding: 5px 15px;
    background-color: #ff9922;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: static;
}

.left-header {
    gap: 16px;
    display: flex;
    align-items: center;
}

.right-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    font-size: 24px;
}

.hero {
    background-color: lightgray;
    border-radius: 50px;
    padding: 50px 50px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 85%;
}

.hero-img img {
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.hero-text {
    width: 675;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-txt {
    justify-content: center;
    margin: 20px 0;
    width: 80%;
    font-size: 26px;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 50px;
}

.donate-button {
    font-size: 26px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #ff9922;
    border-radius: 10px;
    width: fit-content;
}

img {
    height: 60px;
    width: auto;
}

.copyright-info {
    background-color: lightgray;
    border-radius: 5px;
    opacity: 80%;
    width: fit-content;
    padding: 5px 10px;
    margin: 210px 0 20px 0;
}

a {
    color: black;
    text-decoration: none;
}

.left-header a:hover, .copyright-info a:hover {
    color: black;
}

a:hover {
    color: white;
}